:root{
    --primary-color: rgba(107,97,203,1.000);
    --secondary-color: rgba(213,214,246,1.000);
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(220, 220, 220, 1);
}
h1 {
    margin: 0;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.login-box{
    width: 30vw;
    height: 50vw;
    max-width: 400px;
    max-height: 550px;
    background-color: white;
}
#welcome-box{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 25% 10% 0px 10%;
}
#welcome-text{
    justify-content: left;
    margin-left: 5%;
}
#welcome1{
    font-weight: normal;
    font-size: 32px;
}
#welcome2{
    font-weight: normal;
    font-size:16px;
}
.username{
    margin: 50px 35px 0px 35px;
    background-color: var(--secondary-color);
    padding: 0px 5px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
}
#password{
    margin-top: 30px;
}
.username input[type="text"],
.username input[type="password"]{
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    color: black;
    margin: 0px 10px 0px 20px;
    font-size: 14px;
}
input:focus{
    outline: none;
}
#forgot-password{
    margin: -10px 35px 0px 35px;
}
a{
    color: rgba(0, 0, 0, 0.5);
}
#continue{
    background-color: var(--primary-color);
    color:white;
    padding:0;
}
button{
    cursor: pointer;
}
input {
    accent-color: var(--secondary-color);
}
.box-menu{
    width: 80vw;
    height: 80vh;
    max-width: 1000px;
    max-height: 600px;
    background-color: white;
}
.nav-bar{
    margin: 40px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline;
    font-size: 16px;
}
#arrow{
    background-color: white;
    margin:0;
    padding-left: 10px;
    padding-right: 10px;
}
.logout{
    border: none;
    margin-right: 40px;
    padding:0px 30px;
    height: 50px;
    color: white;
    background-color: var(--primary-color);
    font-size: 16px;
}
#logout{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
#team{
    color: black;
    background-color: var(--secondary-color);
    margin: 0;
}
#search{
    margin-top: 10px;
}
#search-input{
    padding:0;
}
#search-box{
    background-color: var(--secondary-color);
    margin-right: 250px;
    display: flex;
    align-items: center;
}
#search-img{
    margin: 0px 10px 0px 10px;
}
input[type="text"]{
    background-color: var(--secondary-color);
    object-fit:cover;
    border: none;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    width:max-content;
}
input:focus{
    outline: none;
}
#margin{
    margin-right:30px;
    margin-left: 30px;
}
.table-box{
    margin: 20px 55px 0px 28px;
}
.file-table{
    width:100%;
    border-collapse: collapse;
}
.file-table th,
.file-table td {
    padding: 2px;
    border: none;
    text-align: left;
}
.file-table th {
    background-color: var(--secondary-color);
    border-left: 2px solid;
    font-weight: normal;
    padding: 8px;
}
.file-table-leer {
    height: 20px;
}
.file-table th:nth-child(2),
.file-table td:nth-child(2) {
    width: 38%;
}
.file-table th:nth-child(8),
.file-table td:nth-child(8) {
    width: 24%;
}
.file-table th:nth-child(6),
.file-table td:nth-child(6) {
    width: 19%;
}
.file-table th:nth-child(4),
.file-table td:nth-child(4) {
    width: 10%;
}
.file-table th:first-child,
.file-table td:first-child {
    width: 3%;
    border: none;
    background-color: white;
}
.file-table th:nth-child(3),
.file-table td:nth-child(3) {
    width: 2%;
    border: none;
    background-color: white;
}
.file-table th:nth-child(5),
.file-table td:nth-child(5) {
    width: 2%;
    border: none;
    background-color: white;
}
.file-table th:nth-child(7),
.file-table td:nth-child(7) {
    width: 2%;
    border: none;
    background-color: white;
}
.horizontal-line{
    margin: 10px 55px 0px 55px;
    border-bottom: 1px solid;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-right: 40px;
}
#column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}
.button{
    cursor: pointer;
}
.logout-img{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    margin-right: 40px;
    padding: 0px 30px;
    height: 50px;
}
.nav-bar-teams{
    margin: 56px 15px 0px 15px;
    display: flex;
    justify-content: right;
    align-items: center;
}
#margin-team{
    margin-right:10px;
    background-color: var(--secondary-color);
    color: black;
}
#horizontal-teams{
    margin-top: 30px;
}
#header-teams{
    margin: 30px 55px 0px 55px;
}
.team-select{
    margin: 30px 55px 0px 55px;
    display: flex;
    justify-content: left;
    align-items: center;
}
#top-select{
    margin-top: 40px;
}
.team-select-text{
    margin-left: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
}
#team-select-text-main{
    color: rgba(0, 0, 0, 1);
}
#nav-between{
    justify-content: space-between;
    margin-left: 55px;
}
#selection{
    margin-top: 30px;
    margin-left: 55px;
    justify-content: left;
    margin-right: 0px;
}
#selection1{
    margin-right: 0px;
}
#selection2{
    color: black;
    background-color: var(--secondary-color);
    margin-left: 10px;
    margin-right: 0px;
}
#plus-team{
    justify-content: center;
    background-color: var(--secondary-color);
    margin-left: 10px;
    margin-right: 0px;
}
.manage-description{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.manage-description-text{
    margin-left: 20px;
}
#manage-size{
    font-size:20px;
}
.box-manage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 55px 0px 55px;
}
.box-manage-content{
    background-color: var(--secondary-color);
    height: 250px;
    width:250px;
}
.box-manage2{
    margin-top: 20px;
}
.manage-table{
    text-align: left;
    margin:10px;
}
.manage-table th{
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 5px;
}
.manage-table td{
    padding: 0;
}
#clms3 td:first-child{
    text-align: left;
    width: 70%;
}
#clms3 td:nth-child(2){
    text-align: right;
    padding-right: 10px;
    width: 15%;
}
#clms3 td:nth-child(3){
    text-align: right;
    width: 15%;
}
.acc-den{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#accept{
    color: white;
    background-color: green;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}
#deny{
    color: white;
    background-color: red;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
}